.bmain {
  background: transparent url(../others/dot.png) repeat 0 0;
}

.main {
  height: 100%;
  width: 100%;
  margin: auto;
}

.containers {
  max-width: 900px;
  height: 100%;
  padding-bottom: 30px;
  margin: auto;
}

.Paragraph {
  padding-top: 50px;
  max-width: 50%;
  margin: 0 auto;
  text-align: center!important;
  color: #fff;
  font-family: consolas, sans-serif;
  /*font-family: 'Covered By Your Grace', cursive;*/
  font-size: 2em;
}

.main_image1 {
  max-width: 300px;
  max-height: 300px;
  padding-top: 50px;
  margin: 0 auto;
  display: flex!important;
}

* {
  font-family: consolas, sans-serif;
}

html {
  cursor: url(../assets/img/animes/anime1.jpg), default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

